.info-icon {
  animation-name: float;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes float {
  0% {
    transform: rotateY(0deg);
  }

  40% {
    transform: rotateY(360deg);
  }

  60% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(0deg);
  }
}
